OPENAI_API_KEY=<key>
GEMINI_API_KEY=<key>
HF_TOKEN=<key>
# create free tier using https://neo4j.com/cloud/ and click on Aura login
NEO4J_USER=<username>
NEO4J_PASSWORD=<password>
NEO4J_CONNECTION_URI=<connection uri from Aura console on the link above>